{% extends 'base-template.html' %}

{% block title %}
    All Users
{% endblock %}


{% block content %}
    <a href="{{ url_for('create_user') }}" class="btn btn-success my-4">Create user</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Admin</th>
                <th scope="col">email</th>
                <th scope="col">gender</th>
                <th scope="col">T&C</th>
                <th scope="col">Marketing</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{ user._id }}</th>
                <td><a href="{{ url_for('user_threads', user_id=user._id) }}">{{ user.username }}</a></td>
                <td>{{ user.is_admin }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.terms_and_conditions }}</td>
                <td>{{ user.marketing }}</td>
                <td><a href="{{ url_for('admin_update_user', user_id=user._id) }}" class="btn btn-primary btn-sm">Update</a></td>
                <td><a href="{{ url_for('delete_user', user_id=user._id) }}" class="btn btn-secondary btn-sm">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}