* {
    margin: 0;
    /* padding: 0; */
}

.multi-level, .categories-container ul, input[type="checkbox"].category-checkbox {
    display: none;
}

#categories-menu:checked ~ .multi-level, .categories-container input:checked ~ ul {
    display: block;
}

