* {
    font-family: Helvetica, Arial;
}

body {
    background-color: #e9ecef;
    padding: 0 1rem;
    min-width: 340px;
}

h5 {
    font-size: 1rem;
}

h6, li a {
   font-size: 0.8rem; 
}

input {
    min-height: 34px;
    border-radius: 4px;
}

select {
    height: 40px;
    font-size: 0.8rem;
    border-radius: 4px;
}

option {
    font-size: 0.8rem;
}

.btn-danger {
    background-color: darkred;
    border: darkred;
    font-weight: bold;
}

.page-header-container {
    background-color: white;
}

.page-header {
    color: #343a40;
    font-weight: bold;
}

#search-box {
    min-width: 250px;
    padding: 6px 8px;
}

#search-box::placeholder {
    font-size: 0.8rem;
}

#search-btn {
    height: 38px;
    width: 38px;
}

#sort-thread {
    max-width: 180px;
    height: 40px;
}

.thread {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.4);
}

.review-thumbnail-container {
    max-height: 72px;
    max-width: 120px;
    overflow: hidden;
}

.review-thumbnail {
    /* display: block; */
    max-height: 80%;
    /* height: auto; */
    max-width: 90%;
    /* width: auto; */
    margin-left: auto;
    margin-right: auto;
}

.comment-count-container {
    max-height: 42px;
}

.comment-count {
    width: 100%;
    font-weight: bold;
}

.vote-btn {
    font-size: 1rem;
}

.vote-btn:hover {
    cursor: pointer;
    scale: 1.2;
}

.vote-down {
    transform: scale(-1, 1);
}

.vote-count {
    display: inline-block;
    color: white;
    font-weight: bold;
}

.fa-comments {
    font-size: 1.2rem;
}

.price {
    color: darkred;
    font-weight: bold;
}

.thread-summary-product-name {
    max-height: 38px;
    overflow: hidden;
}

.thread-description {
    height: 48px;
    overflow: hidden;
}

@media (min-width: 640px) {
    .review-thumbnail-container {
        max-height: 72px;
        max-width: 120px;
    }
}

@media (min-width: 768px) {
    select {
        font-size: 1rem;
    }
    #search-box {
        min-width: 300px;
    }
    #search-box::placeholder {
        font-size: 1rem;
    }
    .review-thumbnail-container {
        max-height: 148px;
        max-width: 148px;
    }
    .thread-summary-product-name {
        max-height: 48px;
    }
    h5 {
        font-size: 1.2rem;
    }
    h6, li a {
        font-size: 1rem;
    }
    .vote-btn {
        font-size: 1.2rem;
    }
    .comment-count{
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) {
    .review-thumbnail-container {
        max-height: 200px;
        max-width: 210px;
    }
    .thread-description {
        height: 72px;
    }
}

@media (min-width: 1200px) {
    .review-thumbnail-container {
        max-height: 240px;
        max-width: 240px;
    }
    .thread-description {
        height: 120px;
    }
}

/* @media (min-width: 1440px) {
    .thread-description {
        height: 140px;
    }
} */


