* {
    font-family: Helvetica, Arial;
}

body {
    background-color: #e9ecef;
    padding: 0 1rem;
}

.page-header-container {
    background-color: white;
}

.page-header {
    color: #343a40;
    font-weight: bold;
}

#search-box {
    min-width: 280px;
    /* border-radius: 0.25rem 0 0 0.25rem; */
}

select {
    height: 34px;
}

option {
    font-size: 0.8rem;
}

/* #search-btn { */
    /* border-radius: 0 0.25rem 0.25rem 0; */
/* } */

#search-box::placeholder {
    font-size: 0.8rem;
}

.btn-danger {
    background-color: darkred;
    border: darkred;
    font-weight: bold;
}

.thread {
    background-color: white;
    border-radius: 0.5rem;
}

.review-thumbnail-container {
    max-height: 100px;
}

.review-thumbnail {
    display: block;
    max-height: 200px;
    max-width: 100%;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.vote-container-wrapper {
    max-height: 50px;
}

.vote-container, .comment-count-container {
    width: 100%;
    border: solid 1px #bbbbbb;
    border-radius: 0.5rem;
}

.vote-btn {
    font-size: 1.4rem;
}

.vote-btn:hover {
    cursor: pointer;
    scale: 1.2;
}

.vote-down {
    transform: scale(-1, 1);
}

.vote-count {
    display: inline-block;
    color: darkred;
    font-weight: bold;
}

.fa-comments {
    font-size: 1.5rem;
}

.price {
    color: darkred;
    font-weight: bold;
}

.thread-description {
    height: 48px;
    overflow: hidden;
}

@media (max-width: 767px) {
    h5 {
        font-size: 1rem;
    }
    h6 {
        font-size: 0.8rem;
    }
    li a {
       font-size: 0.8rem; 
    }
    .vote-container, .comment-count-container{
        border: none;
    }
    .vote-btn {
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) {
    .thread-description {
        height: 76px;
    }
    
}

@media (min-width: 1200px) {
    .thread-description {
        height: 120px;
    }
    
}

@media (min-width: 1440px) {
    .thread-description {
        height: 160px;
    }
    
}


