{% extends 'base-template.html' %}

{% block title %}
    All Categories
{% endblock %}

{% block javascript %}
    <script src={{ url_for("static", filename="js/categories.js") }} defer></script>
{% endblock %}

{% block content %}
    <select name="categories" id="categories" size="8">
        {% for category in categories %}
            <option value="{{category._id}}" id="{{category.category}}" class="category-0">{{category.category}}</option>
        {% endfor %}
    </select>
{% endblock %}