{% extends 'base-template.html' %}

{% block title %}
    Add Sub-category
{% endblock %}

{% block content %}
    <form action="" method="post">
        <div class="row px-3">
            <div class="col-12 py-5 d-flex justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <h1>Add new sub-category</h1>
        
                    <form action="" method="post">
                        {% with previous_values={} %}
                            {% include 'categories/base-sub-category-form.html' %}
                            <input type="submit" value="Add new sub-category">
                        {% endwith %}
                    </form>
                </div>
            </div>
        </div>
    </form>
{% endblock %}