{% extends 'base-template.html' %}

{% block title %}
    Update Category
{% endblock %}

{% block content %}
<div class="row px-3">
    <div class="col-12 py-5 d-flex justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <h1>Update category</h1>

            <form action="" method="post">
                {% include 'categories/base-category-form.html' %}
                <input type="submit" value="Update category">
            </form>
        </div>
    </div>
</div>
{% endblock %}