{% extends 'base-template.html' %}

{% block title %}
    Update Sub-category
{% endblock %}

{% block content %}
<div class="row px-3">
    <div class="col-12 py-5 d-flex justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <h1>Update sub-category</h1>

            <form action="" method="post">
                
                    {% for previous_value in previous_values %}
                        {% include 'categories/base-sub-category-form.html' %}
                        <input type="submit" value="Update sub-category">
                    {% endfor %}
            </form>
        </div>
    </div>
</div>
{% endblock %}