{% extends 'base-template.html' %}

{% block title %}
    Delete Comment
{% endblock %}

{% block content %}
    <div class="row">
        <div class="page-header-container col pt-3">
            <h4 class="page-header">Delete comment</h4>
        </div>
    </div>

    <div class="col-12 py-4">
        <h4>Are you sure you want to delete your comment?</h4>
        <h5>Once deleted, your comment will be gone forever!</h5>
        <form action="" method="post">
            <input type="submit" value="Delete comment" class="btn btn-warning">
        </form>
    </div>

{% endblock %}