{% extends 'base-template.html' %}

{% block title %}
    Update Comment
{% endblock %}

{% block content %}
    <div class="row px-3">
        <div class="col-12 py-5 d-flex justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <h1>Update comment</h1>

                <form method="post">
                    {% with %}
                        {% if not previous_values %}
                            {% set previous_values = {} %}
                        {% endif %}

                        {% include 'threads/comments/base-comment-form.html' %}

                    {% endwith %}
                    
                    <input type="submit" value="Update comment">
                </form>
            </div>
        </div>
    </div>
{% endblock %}