{% extends 'base-template.html' %}

{% block javascript %}
    <script src={{ url_for("static", filename="js/sub-categories.js") }} defer></script>
    <script src={{ url_for("static", filename="js/threads-all.js") }} defer></script>
    {% if current_user.is_authenticated %}
        <script src={{ url_for("static", filename="js/threads-logged-in.js") }} defer></script>
    {% else %}
        <script src={{ url_for("static", filename="js/threads-logged-out.js") }} defer></script>
    {% endif %}
{% endblock %}

{% block title %}
    Reviews
{% endblock %}

{% block content %}
    <!-- Page header -->
    <section class="row">
        <div class="page-header-container col pt-3">
            <h3 class="page-header">Reviews</h3>
        </div>
    </section>    

    <!-- Search -->
    <div class="search-container pt-2">
        <form method="get">
            <div class="form-row ml-0">
                <div class="form-group mb-0">
                    <div class="row mx-0">
                        <div class="my-2 my-sm-3">
                            <select name="categories" id="categories" class="form-control">
                                <option value="">Categories</option>
                                {% for category in categories %}
                                    <option id="{{ category._id }}" class="form-control category-0" value="{{ category._id }}" {% if category._id|string==previous_values.categories %}selected{% endif %}>{{ category.category }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="my-2 my-sm-3 px-sm-2">
                            <select name="sub_categories" id="sub_categories" class="form-control">
                                <option value="" class="form-control">Sub-categories</option>
                            </select>
                            <input type="hidden" id="previous_sub_categories" name="previous_sub_categories" value="{{previous_values.sub_categories}}">
                        </div>
                        <div class="my-2 my-md-3 my-lg-3 mr-3">
                            <input class="mb-n1" type="text" name="search_box" id="search-box" placeholder="Search reviews" value="{{previous_values['search_box']}}">
                            <button id="search-btn" class="btn btn-primary px-2 py-1" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                        <div class="my-2 my-lg-3">
                            {% include 'threads/sort-thread.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {% if number_of_results>0 %}
        <!-- Pagination -->
        <nav aria-label="review-thread-pages">
            <ul class="pagination">
                <li class="page-item {% if page_number==1 %}disabled{% endif %}">
                    <a class="page-link" href="{{ url_for('threads', page=page_number-1, categories=previous_values.categories, sub_categories=previous_values.sub_categories, previous_sub_categories=previous_values.sub_categories, search_box=previous_values.search_box, sort_thread=previous_values.sort_thread) }}" tabindex="-1" {% if page_number==1 %}aria-disabled="true"{% endif %}>Previous</a>
                </li>
                {% for loop_page in range(1, number_of_pages+1) %}
                    <li class="page-item {% if page_number==loop_page %}active{% endif %}" {% if page_number==loop_page %}aria-current="page"{% endif %}>
                        <a class="page-link" href="{{ url_for('threads', page=loop_page, categories=previous_values.categories, sub_categories=previous_values.sub_categories, previous_sub_categories=previous_values.sub_categories, search_box=previous_values.search_box, sort_thread=previous_values.sort_thread) }}">{{ loop_page }}{% if page_number==loop_page %}<span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                {% endfor %}
                <li class="page-item {% if page_number==number_of_pages %}disabled{% endif %}">
                    <a class="page-link" href="{{ url_for('threads', page=page_number+1, categories=previous_values.categories, sub_categories=previous_values.sub_categories, previous_sub_categories=previous_values.sub_categories, search_box=previous_values.search_box, sort_thread=previous_values.sort_thread) }}" {% if page_number==number_of_pages %}aria-disabled="true"{% endif %}>Next</a>
                </li>
            </ul>
        </nav>

        <!-- Review threads -->
        {% for thread in threads %}
            {% include 'threads/base-thread-summary.html' %}
        {% endfor %}

        <!-- Pagination -->
        <nav aria-label="review-thread-pages">
            <ul class="pagination">
                <li class="page-item {% if page_number==1 %}disabled{% endif %}">
                    <a class="page-link" href="{{ url_for('threads', page=page_number-1, categories=previous_values.categories, sub_categories=previous_values.sub_categories, previous_sub_categories=previous_values.sub_categories, search_box=previous_values.search_box, sort_thread=previous_values.sort_thread) }}" tabindex="-1" {% if page_number==1 %}aria-disabled="true"{% endif %}>Previous</a>
                </li>
                {% for loop_page in range(1, number_of_pages+1) %}
                    <li class="page-item {% if page_number==loop_page %}active{% endif %}" {% if page_number==loop_page %}aria-current="page"{% endif %}>
                        <a class="page-link" href="{{ url_for('threads', page=loop_page, categories=previous_values.categories, sub_categories=previous_values.sub_categories, previous_sub_categories=previous_values.sub_categories, search_box=previous_values.search_box, sort_thread=previous_values.sort_thread) }}">{{ loop_page }}{% if page_number==loop_page %}<span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                {% endfor %}
                <li class="page-item {% if page_number==number_of_pages %}disabled{% endif %}">
                    <a class="page-link" href="{{ url_for('threads', page=page_number+1, categories=previous_values.categories, sub_categories=previous_values.sub_categories, previous_sub_categories=previous_values.sub_categories, search_box=previous_values.search_box, sort_thread=previous_values.sort_thread) }}" {% if page_number==number_of_pages %}aria-disabled="true"{% endif %}>Next</a>
                </li>
            </ul>
        </nav>
    {% else %}
        <h4 class="my-3 px-3">Sorry, your search criteria did not match any results. Please try another search.</h4>
    {% endif %}

{% endblock %}