{% extends 'base-template.html' %}

{% block javascript %}
    {% if current_user.is_authenticated %}
        <script src={{ url_for("static", filename="js/threads.js") }} defer></script>
    {% else %}
        <script src={{ url_for("static", filename="js/login-request.js") }} defer></script>
    {% endif %}
{% endblock %}

{% block title %}
    All Threads
{% endblock %}

{% block content %}
    <h1>Test threads page</h1>
    <form action="" method="get">
        <div>
            <select name="categories" id="categories">
                <option value="">Categories</option>
            </select>
            <select name="sub_categories" id="sub_categories">
                <option value="">Sub-categories</option>
            </select>
            <input type="text" name="search-box" id="search-box">
            <span><button class="btn btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button></span>
        </div>
    </form>
    <br>
    {% for thread in threads %}
        {{ thread }}
        <i id="down-{{ thread._id }}" class="vote-btn vote-down fa fa-thumbs-o-down" aria-hidden="true"></i>
        <i id="up-{{ thread._id }}" class="vote-btn vote-up fa fa-thumbs-o-up" aria-hidden="true"></i>
        <br>
        <br>
    {% endfor %}
{% endblock %}