{% extends 'base-template.html' %}

{% block javascript %}
    <script src={{ url_for("static", filename="js/sub-categories.js") }} defer></script>
    {% if current_user.is_authenticated %}
        <script src={{ url_for("static", filename="js/threads.js") }} defer></script>
    {% else %}
        <script src={{ url_for("static", filename="js/login-request.js") }} defer></script>
    {% endif %}
{% endblock %}

{% block title %}
    Threads
{% endblock %}

{% block content %}
    <h3>Reviews</h3>
    <form action="" method="get">
        <div>
            <select name="categories" id="categories">
                <option value="">Categories</option>
                {% for category in categories %}
                    <option id="{{ category._id }}" class="category-0" value="{{ category._id }}">{{ category.category }}</option>
                {% endfor %}
            </select>
            <select name="sub_categories" id="sub_categories">
                <option value="">Sub-categories</option>
            </select>
            <input type="text" name="search-box" id="search-box">
            <span><button class="btn btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button></span>
        </div>
    </form>
    <br>
    {% for thread in threads %}
        <div class="thread row">
            <div class="col-3">
                <div class="row">
                    <div class="col">
                        {{ thread.image }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <i id="down-{{ thread._id }}" class="vote-btn vote-down fa fa-thumbs-o-down" aria-hidden="true"></i>
                        <i id="up-{{ thread._id }}" class="vote-btn vote-up fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div>
                    {{ thread.datetime }}
                </div>
                <div>
                    {{ thread.product_name }}
                </div>
                <div>
                    {{ thread.price }}
                </div>
                <div>
                    {{ thread.user.username }}
                </div>
            </div>
        </div>
        {{thread}}
        <br>
        <br>
    {% endfor %}
{% endblock %}