<div>
    <label for="user_id">User ID</label>
    <input type="text" name="user_id" id="user_id" placeholder="user_id" value="">
</div>
<div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="username" value="">
</div>
<div>
    <label for="category_id">Category ID</label>
    <input type="text" name="category_id" id="category_id" placeholder="category_id" value="">
</div>
<div>
    <label for="category_name">Category Name</label>
    <input type="text" name="category_name" id="category_name" placeholder="e.g. CPU, GPU, motherboard, etc" value="">
</div>
<div>
    <label for="product_name">Product name</label>
    <input type="text" name="product_name" id="product_name" placeholder="e.g. AMD Ryzen 3700X" value="">
</div>
<div>
    <label for="price">RRP (USD)</label>
    <input type="text" name="price" id="price" placeholder="e.g. 350.00" value="">
</div>
<div>
    <label for="image">Image URL</label>
    <input type="text" name="image" id="image" placeholder="e.g. https://images-na.ssl-images-amazon.com/images/I/717Di3DGIbL._AC_SL1092_.jpg" value="">
</div>
<div>
    <label for="affiliate">Affiliate link</label>
    <input type="text" name="affiliate" id="affiliate" placeholder="e.g. https://www.amazon.com/AMD-Ryzen-3700X-16-Thread-Processor/dp/B07SXMZLPK/" value="">
</div>
<div>
    <textarea name="description" id="description" cols="30" rows="10" placeholder="Enter your review here"></textarea>
</div>