{% block javascript %}
    <script src={{ url_for("static", filename="js/sub-categories.js") }} defer></script>
{% endblock %}

<div>
    <label for="categories">Category</label>
    <select name="categories" id="categories">
        {% for category in categories %}
        <option id="{{ category._id }}" class="category-0" value="{{ category._id }}" {% if previous_values.category.category_id==category._id %}selected{% endif %}>{{ category.category }}</option>
        {% endfor %}
    </select>
</div>
<div>
    <label for="sub_categories">Sub-category</label>
    <select name="sub_categories" id="sub_categories"></select>
    <input type="hidden" id="previous_sub_categories" name="previous_sub_categories" value="{{previous_values.category.sub_category_id}}">
</div>
<div>
    <label for="product_name">Product name</label>
    <input type="text" name="product_name" id="product_name" placeholder="e.g. AMD Ryzen 3700X" value="{{ previous_values.product_name }}">
</div>
<div>
    <label for="price">RRP (USD)</label>
    <input type="text" name="price" id="price" placeholder="e.g. 350.00" value="{{ previous_values.price }}">
</div>
<div>
    <label for="image">Image URL</label>
    <input type="text" name="image" id="image" placeholder="e.g. https://images-na.ssl-images-amazon.com/images/I/717Di3DGIbL._AC_SL1092_.jpg" value="{{ previous_values.image }}">
</div>
<div>
    <label for="affiliate">Affiliate link</label>
    <input type="text" name="affiliate" id="affiliate" placeholder="e.g. https://www.amazon.com/AMD-Ryzen-3700X-16-Thread-Processor/dp/B07SXMZLPK/" value="{{ previous_values.affiliate }}">
</div>
<div>
    <textarea name="description" id="description" cols="30" rows="10" placeholder="Enter your review here">{{ previous_values.description }}</textarea>
</div>