{% extends 'base-template.html' %}

{% block title %}
    Delete Review
{% endblock %}

{% block content %}

    <div class="row page-header-container">
        <h3 class="page-header col-12 pt-3">Delete Review</h3>
    </div>

    <div class="row px-3">
        <div class="col-12 py-4">
            <h4>Are you sure you want to delete review of {{ thread.product_name }}?</h4>
            <h5>Once deleted, the review will be gone forever!</h5>
            <form action="" method="post">
                <input type="submit" value="Delete review" class="btn btn-warning">
            </form>
        </div>
    </div>
    {% include 'threads/base-thread-summary.html' %}

{% endblock %}