{% extends 'base-template.html' %}

{% block css %}
    <link rel="stylesheet" href={{ url_for("static", filename="css/single-thread.css") }}>
{% endblock %}

{% block javascript %}
    <script src={{ url_for("static", filename="js/threads-all.js") }} defer></script>
    {% if current_user.is_authenticated %}
        <script src={{ url_for("static", filename="js/threads-logged-in.js") }} defer></script>
    {% else %}
        <script src={{ url_for("static", filename="js/threads-logged-out.js") }} defer></script>
    {% endif %}
{% endblock %}

{% block title %}
    {{ thread.product_name }}
{% endblock %}

{% block content %}

    <nav class="row mt-1" aria-label="breadcrumb">
        <div class="col-12">
            <ol class="breadcrumb mb-0 p-2 pl-lg-3">
                <li class="breadcrumb-item"><a href="/threads?categories={{ thread.category.category_id }}">{{ thread.category.category_name }}</a></li>
                <li class="breadcrumb-item"><a href="/threads?categories={{ thread.category.category_id }}&sub_categories={{ thread.category.sub_category_id }}">{{ thread.category.sub_category_name }}</a></li>
            </ol>
        </div>
    </nav>

    <div class="row">
        <div class="page-header-container col pt-3">
            <h4 class="page-header">{{ thread.product_name }}</h3>
        </div>
    </div>

    <div class="row review-img-user mt-3 p-3">
        <div class="col-12 mb-n5 col-md-7">
            <img src="{{ thread.image }}" alt="review-thumbnail" class="review-thumbnail">
        </div>
        <div class="col-12 col-md-5 mt-sm-n5 mt-md-0 pt-md-5">
            <!-- Date posted -->
            <h6>{{ thread.datetime.strftime('%d %b %Y %H:%M') }}</h6>
            <!-- User that posted review -->
            <h5>Review by: <a href="{{ url_for('user_threads', user_id=thread.user.user_id) }}">{{ thread.user.username }}</a></h5>
            <!-- Price -->
            <div class="my-1">
                <h5 class="price">{{ "US$ {:,.2f}".format(thread.price) }}</h5>
            </div>
            <!-- Purchase link -->
            <span>
                <a href="{{ thread.affiliate }}" class="btn btn-danger" target="_blank"><i class="fa fa-amazon" aria-hidden="true"></i> Amazon*</a>
            </span>
            <!-- Edit and delete review -->
            <span class="ml-auto">
                {% if current_user._id == thread.user.user_id %}
                    <a href="{{ url_for('update_thread', thread_id=thread._id) }}" class="btn btn-primary">Edit</a>
                    <a href="{{ url_for('delete_thread', thread_id=thread._id) }}" class="btn btn-secondary">Delete</a>
                {% endif %}
            </span>
            <!-- Vote buttons -->
            <div class="vote-container btn btn-info">
                <span><i id="down-{{ thread._id }}" class="vote-btn vote-down fa fa-thumbs-o-down" aria-hidden="true"></i></span>
                <span><h5 id="vote-count-{{ thread._id }}" class="vote-count my-0 px-2">0</h5></span>
                <span><i id="up-{{ thread._id }}" class="vote-btn vote-up fa fa-thumbs-o-up" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>

    <div class="row review-description mt-md-n3 mt-lg-n5 px-3 pt-3">
        <div class="col-12">
            <p>{{ thread.description }}</p>
        </div>
    </div>

    <div class="row comments-container mt-3">
        <h4 class="pl-3">Comments:</h4>
        {% for comment in thread.sub_posts %}
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-title">{{ comment.user.username }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ comment.datetime.strftime('%d %b %Y %H:%M') }}</h6>
                <p class="card-text">{{ comment.comment }}</p>
                <a href="{{ url_for('update_comment', thread_id=thread._id, comment_id=comment._id) }}" class="card-link btn btn-primary btn-sm">Update</a>
                <a href="{{ url_for('delete_comment', thread_id=thread._id, comment_id=comment._id) }}" class="card-link btn btn-secondary btn-sm">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row new-comment mb-5">
        <form action="" method="post" class="comment-form">
            {% with %}
                {% if not previous_values %}
                    {% set previous_values = {} %}
                {% endif %}
    
                {% include 'threads/comments/base-comment-form.html' %}
    
            {% endwith %}
            
            <input type="submit" value="Post comment">
        </form>
    </div>
{% endblock %}