{% extends 'base-template.html' %}

{% block title %}
    Update Review
{% endblock %}

{% block content %}
    <div class="row px-3">
        <div class="contact-form col-12 py-5 d-flex justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">

                <h1>Update review</h1>

                <form action="" method="post">
                    {% include 'threads/base-thread-form.html' %}
                    <input type="submit" value="Update review">
                </form>

            </div>
        </div>
    </div>
{% endblock %}