{% extends 'base-template.html' %}

{% block title %}
    All Users
{% endblock %}


{% block content %}
    <a href="{{ url_for('create_user') }}" class="btn btn-primary">Create user</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">email</th>
                <th scope="col">gender</th>
                <th scope="col">T&C</th>
                <th scope="col">Marketing</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">
                    <span>{{ user._id }}</span>
                    <span><a href="{{ url_for('update_user', user_id=user._id) }}">Update</a></span>
                    <span><a href="{{ url_for('delete_user', user_id=user._id) }}">Delete</a></th></span>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.terms_and_conditions }}</td>
                <td>{{ user.marketing }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}