<div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" class="form-control {% if 'invalid_email' in errors %} is-invalid {% endif %}" placeholder="example@email.com" value="{% if errors.email %}{{ errors.email }}{% elif previous_values.email %}{{ previous_values.email }}{% endif %}" required>
    <div class="invalid-feedback">{{ errors.invalid_email }}</div>
</div>
<div class="form-group">
    <label for="male">Male</label>
    <input type="radio" name="gender" value="male" id="male" {% if errors.gender=="male" %}checked{% elif not errors.gender and previous_values.gender=="male" %}checked{% endif %}>
    <label for="female">Female</label>
    <input type="radio" name="gender" value="female" id="female" {% if errors.gender=="female" %}checked{% elif not errors.gender and previous_values.gender=="female" %}checked{% endif %}>
    <label for="other">Other</label>
    <input type="radio" name="gender" value="other" id="other" {% if errors.gender=="other" %}checked{% elif not errors.gender and previous_values.gender=="other" %}checked{% endif %}>
    <label for="null">Prefer not to say</label>
    <input type="radio" name="gender" value="null" id="null" {% if errors.gender=="null" %}checked{% elif not errors.gender and previous_values.gender==None %}checked{% endif %}>
</div>
<div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control {% if 'invalid_password' in errors %} is-invalid {% endif %}" placeholder="Password" required>
    <div class="invalid-feedback">{{ errors.invalid_password }}</div>
</div>
<div class="form-group">
    <label for="password_2">Please re-enter password</label>
    <input type="password" name="password_2" id="password-2" class="form-control {% if 'invalid_password_2' in errors %} is-invalid {% endif %}" placeholder="Please re-enter password" required>
    <div class="invalid-feedback">{{ errors.invalid_password_2 }}</div>
</div>
<div class="form-group">
    <label for="marketing">Marketing list</label>
    <input type="checkbox" name="marketing" value="true" id="marketing" {% if errors.marketing=="opt_out" %} "" {% elif errors.marketing or previous_values.marketing %}checked{% endif %}>
</div>