<div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" class="form-control {% if 'invalid_username' in errors %} is-invalid {% endif %}" placeholder="username" value="{{ previous_values.username }}" required>
    <div class="invalid-feedback">{{ errors.invalid_username }}</div>
</div>
<div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" class="form-control {% if 'invalid_email' in errors %} is-invalid {% endif %}" placeholder="example@email.com" value="{{ previous_values.email }}" required>
    <div class="invalid-feedback">{{ errors.invalid_email }}</div>
</div>
<div class="form-group">
    <label for="male">Male</label>
    <input type="radio" name="gender" value="male" id="male" {% if previous_values.gender=="male" %}checked{% endif %}>
    <label for="female">Female</label>
    <input type="radio" name="gender" value="female" id="female" {% if previous_values.gender=="female" %}checked{% endif %}>
    <label for="other">Other</label>
    <input type="radio" name="gender" value="other" id="other" {% if previous_values.gender=="other" %}checked{% endif %}>
    <label for="null">Prefer not to say</label>
    <input type="radio" name="gender" value="null" id="null" {% if previous_values.gender==None %}checked{% endif %}>
</div>
<div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control {% if 'invalid_password' in errors %} is-invalid {% endif %}" placeholder="Password" required>
    <div class="invalid-feedback">{{ errors.invalid_password }}</div>
</div>
<div class="form-group">
    <label for="terms_and_conditions">Terms and conditions</label>
    <input type="checkbox" name="terms_and_conditions" value="true" id="terms_and_conditions" class="{% if 'invalid_terms_and_conditions' in errors %} is-invalid {% endif %}" {% if previous_values.terms_and_conditions==True %}checked{% endif %} required>
    <div class="invalid-feedback">{{ errors.invalid_terms_and_conditions }}</div>
</div>
<div class="form-group">
    <label for="marketing">Marketing list</label>
    <input type="checkbox" name="marketing" value="true" id="marketing" {% if previous_values.marketing==True %}checked{% endif %}>
</div>