{% extends 'base-template.html' %}

{% block title %}
    Sign up
{% endblock %}

{% block content %}
    <div class="row px-3">
        <div class="col-12 py-5 d-flex justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">

                <h1>Sign up</h1>

                <form action="" method="post" class="needs-validation" novalidate>
                    
                    {% with %}
                        {% if not previous_values %}
                            {% set previous_values = {} %}
                        {% endif %}

                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" class="form-control {% if 'invalid_username' in errors %} is-invalid {% endif %}" placeholder="username" value="{% if errors.username %}{{ errors.username }}{% elif previous_values.username %}{{ previous_values.username }}{% endif %}" required>
                            <div class="invalid-feedback">{{ errors.invalid_username }}</div>
                        </div>

                        {% include 'users/base-user-form.html' %}

                        <div class="form-group">
                            <label for="terms_and_conditions">Terms and conditions</label>
                            <input type="checkbox" name="terms_and_conditions" value="true" id="terms_and_conditions" class="{% if 'invalid_terms_and_conditions' in errors %} is-invalid {% endif %}" {% if errors.terms_and_conditions %}checked{% endif %} required>
                            <div class="invalid-feedback">{{ errors.invalid_terms_and_conditions }}</div>
                        </div>
                        
                    {% endwith %}
                    
                    <input type="submit" value="Sign up" class="btn btn-info">
                </form>
                
            </div>
        </div>
    </div>
{% endblock %}