{% extends 'base-template.html' %}

{% block title %}
    Sign up
{% endblock %}

{% block content %}
    <div class="row px-3">
        <div class="contact-form col-12 py-5 d-flex justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">

                <h1>Sign up</h1>

                <form action="" method="post">
                    {% with %}
                        {% if not previous_values %}
                            {% set previous_values = {} %}
                        {% endif %}

                        {% include 'users/base-user-form.html' %}

                    {% endwith %}
                    
                    <input type="submit" value="Sign up">
                </form>
                
            </div>
        </div>
    </div>
{% endblock %}