{% extends 'base-template.html' %}

{% block title %}
    Update Profile
{% endblock %}

{% block content %}
    <div class="row px-3">
        <div class="contact-form col-12 py-5 d-flex justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <h1>Update My Profile</h1>

                <form action="" method="post">
                    {%include 'users/base-user-form.html' %}
                    <input type="submit" value="Update" class="btn btn-info">
                </form>
            </div>
        </div>
    </div>

    <div class="row px-3">
        <div class="contact-form col-12 py-5 d-flex justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <h3>Delete my account. <strong>WARNING:</strong></h3>
                <h4>This will delete my account for good!</h4>
                <a href="{{ url_for('delete_user', user_id=current_user._id) }}" class="btn btn-warning">Delete account</a>
            </div>
        </div>
    </div>

{% endblock %}