{% extends 'base-template.html' %}

{% block javascript %}
    <script src={{ url_for("static", filename="js/sub-categories.js") }} defer></script>
    <script src={{ url_for("static", filename="js/threads-all.js") }} defer></script>
    {% if current_user.is_authenticated %}
        <script src={{ url_for("static", filename="js/threads-logged-in.js") }} defer></script>
    {% else %}
        <script src={{ url_for("static", filename="js/threads-logged-out.js") }} defer></script>
    {% endif %}
{% endblock %}

{% block title %}
    My Reviews
{% endblock %}

{% block content %}
    <div class="row">
        <div class="page-header-container col pt-3">
            <h3 class="page-header">My Reviews</h3>
        </div>
    </div>    

    {% if num_of_threads==0 %}
        <h3 class="mt-3">You haven't posted any reviews yet! Let's change that...</h3>

        <div class="row px-3">
            <div class="contact-form col-12 py-5 d-flex justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
    
                    <h1>Create new review</h1>
    
                    <form action="{{ url_for('create_thread') }}" method="post">
                        {% with %}
                            {% if not previous_values %}
                                {% set previous_values = {
                                    "category": {
                                        "category_id": "",
                                        "sub_category_id": ""
                                        }
                                    }
                                %}
                            {% endif %}
                
                            {% include 'threads/base-thread-form.html' %}
                
                        {% endwith %}
                        <input type="submit" value="Create" class="btn btn-info">
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    {% for thread in threads %}
        {% include 'threads/base-thread-summary.html' %}
    {% endfor %}
{% endblock %}